<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiktok-DL</title>
</head>
<body style="font-family:verdana; background-color:#1C1C1C; color:#AAAAAA">
<style>
      hr {
        height: 2px;
        background-color: #3C3F41;
        border: none;
      }
      a:link {
        color: #6ACAAE;
        background-color: transparent;
        text-decoration: none;
      }

      a:visited {
        color: #6ACAAE;
        background-color: transparent;
        text-decoration: none;
      }
    </style>
<h1>TikTok Downloader</h1>
<hr />
<p>This TikTok Downloader provides a quick and simple API for getting a valid download link for a TikTok with no watermark.</p>
<p>See our API Docs <a href="https://t774.herokuapp.com/api/docs" target="_blank">here</a>.</p>
<p>See the source <a href="https://github.com/SoulessAdam/TikTok-DL" target="_blank">here</a>.</p>
<pre><sub>Join the discord <a href="https://discord.gg/wVWkybYevV" target="_blank">here</a>.<br><br><br>Yes I can't be bothered with this frontend shit.</sub></pre>
</body>
</html>